<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
   <context:property-placeholder location="classpath:scheduling.properties"/>
   
   
   <!-- Mail related configuration -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="${employeeDetailsMail.GMAIL_USER_NAME}"/>
        <property name="password" value="${employeeDetailsMail.PASSWORD}"/>
        <property name="javaMailProperties">
           <props>
                 <prop key="mail.transport.protocol">smtp</prop>
                 <prop key="mail.smtp.auth">true</prop>
                 <prop key="mail.smtp.starttls.enable">true</prop>
                 <prop key="mail.debug">true</prop>
          </props>
        </property>
     </bean>
   
   
	<!-- For times when you just need to invoke a method on a specific object -->
	<bean id="simpleJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myBean" />
		<property name="targetMethod" value="printMessage" />
	</bean>
	
	<bean id="employeeDetails"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" >
 		<property name="targetObject" ref="myBean"></property>
 		<property name="targetMethod" value="printAllEmployees"></property>
	</bean>

	<bean id="employeeDetailsMail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" >
 		<property name="targetObject" ref="myBean"></property>
 		<property name="targetMethod" value="sendAllEmployeestoMail"></property>
	</bean>
	<!-- Run the job every 2 seconds with initial delay of 1 second -->
	<bean id="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="simpleJobDetail" />
		<property name="startDelay" value="1000" />
		<property name="repeatInterval" value="10000" />
		<!-- <property name="repeatInterval" value="#{systemProperties['simpleTrigger.repeatInterval']}" /> -->
		<!-- <property name="repeatInterval" value="#{T(java.lang.Long).parseLong('${simpleTrigger.repeatInterval}')}"
		/> -->
		<!--  <property name="repeatInterval">
            <bean class="java.lang.Long">
                <constructor-arg index="0" value="${simpleTrigger.repeatInterval}"/>
            </bean>
        </property> -->
		
	</bean>
	
	<bean id="employeeDetailsTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="employeeDetails"></property>
		<property name="cronExpression" value="${employeeDetailsTrigger.cronExpression}"></property>
		<!-- <property name="cronExpression" value="#{systemProperties['employeeDetailsTrigger.cronExpression']}"></property> -->
	 </bean>
	 
	<bean id="employeeDetailsMailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="employeeDetailsMail"></property>
		<property name="cronExpression" value="${employeeDetailsMailTrigger.cronExpression}"></property>
	 </bean>
	 
	<!-- Scheduler factory bean to glue together jobDetails and triggers to 
		Configure Quartz Scheduler -->
	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="simpleJobDetail" />
				<ref bean="employeeDetails"/>
				<ref bean="employeeDetailsMail"/>
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
				<ref bean="employeeDetailsTrigger"/>
				<ref bean="employeeDetailsMailTrigger"/>
			</list>
		</property>
	</bean>
</beans>