<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" method="GET" />
		<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" method="POST" />
		<csrf disabled="true"/>
	</http>

	<authentication-manager>
      <authentication-provider ref="customAuthentication"  />
	  <!-- <authentication-provider>
	    <user-service>
		<user name="deep" password="123456" authorities="ROLE_USER" />
	    </user-service> 
	   <jdbc-user-service data-source-ref="dataSource"
	    users-by-username-query="select USERNAME, PASSWORD, ENABLED FROM USERS WHERE ENABLED =1 AND USERNAME=?;"
	    authorities-by-username-query="SELECT u.USERNAME, r.ROLE FROM USERS u, USER_ROLE r WHERE u.ID = r.USER_ID AND u.USERNAME=?;" />
	  </authentication-provider> -->
	</authentication-manager>

</beans:beans>
